* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --vert-spotify: #00ff53;
  --vert-sombre: #0c2414;
  --gris-foncé: #111211;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: black;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Barre de Navigation */
.barre_de_navigation {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.barre_de_navigation .container {
  display: flex;
  justify-content: space-between;
}

.barre_de_navigation .menu_principal ul {
  display: flex;
  margin-top: 20px;
}

.texte_navbar {
  margin: 0px 5px;
  font-weight: 900;
  white-space: nowrap;
}

.logo {
  min-width: 220px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-small {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Boutons */
.bouton_navbar {
  background: var(--gris-foncé);
  border-radius: 100px;
  padding: 10px 15px;
  margin: 0px 10px;
  font-weight: 900;
  font-size: 20px;
  transition: 0.5s;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.bouton_navbar:hover {
  color: #00ff53;
  background-color: #0c2414;
}
.grand_texte {
  color: #fff;
  text-align: right;
}

.texteEttelephone {
  background-color: #000000;
  background-image: url("../Elements home page/téléphone\ étoilé\ entier.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.texteEttelephone h1 {
  text-align: right;
  color: white;
  font-weight: 400;
  line-height: 1;
  font-size: 72px;
  padding-top: 210px;
  white-space: nowrap;
  margin-left: 620px;
}

#enBoucle {
  font-weight: 700;
  color: var(--vert-spotify);
}

#bouton_decouverte {
  font-size: 1.8vw;
  font-weight: 400;
  background: black;
  border-width: 0.1vw;
  border-style: solid;
  border-radius: 100px;
  border-color: white;
  padding: 10px 15px;
  margin: 0px 35px;
  transition: 0.5s;
  cursor: pointer;
}

.texteEttelephone p {
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 25px;
  margin-right: 80px;
  white-space: nowrap;
  margin-left: 800px;
}

.coupDeCoeur {
  color: #fff;
  background-color: #000000;
  background-image: url("../Elements home page/fond\ noir\ 2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 96vh;
  display: block;
  margin-top: 50px;
}

.troisColonnes {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 10px;
}

.uneDesColonnes {
  padding: 0px 30px;
}

.coupDeCoeur h2 {
  text-align: center;
  padding: 30px 0px;
  font-size: 50px;
}

.notreSélection {
  color: #fff;
  background-color: #000000;
  background-image: url("../Elements home page/cercle\ flou\ bonne\ couleure\ 2.png");
  background-position: right;
  background-size: 100vp;
  background-repeat: no-repeat;
  height: 100vh;
  display: block;
}
