/* * {  on remet les valeur par défaut à 0 */

* {
  margin: 0;
  padding: 0;
}

/*Creation nouvelle police de caractere*/

/*@font-face {
        font-family: "Circular";
        src: url("../police_de_caractere/CircularStd-Bold/CircularStd-Bold.ttf") format("truetype");
        src: url("../police_de_caractere/CircularStd-Bold/CircularStd-Bold.woff") format("woff");
    } */

@font-face {
  font-family: "Montserrat";
  src: url("../police_de_caractere/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

/*Nul car le .background ne "s'accroche pas au .bandeau => enorme marge entre les deux si petite fenetre.*/

/* 
    .bandeau {
        background-image: url("../photo/ajar_4_bandeau.jpg");
        background-size: 100vw;
        background-repeat: no-repeat;
    } */

html {
  /* background-color: #ffffff; */
  background: linear-gradient(#0eb144 20%, #000000 60%);
}

img {
  width: 100vw;
  position: relative;
  z-index: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 4vw;
  /*3vw*/
  /*4rem*/
  /*25px*/
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3vw;
  /*2vw*/
  /*2rem*/
  /*20px*/
}

.bandeau {
  background-size: cover;
}

.bandeau h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 12vw;
  /*12vw*/
  /*9rem*/
  /*100px*/
  color: rgb(255, 255, 255);
  margin-left: 10vw;
  margin-top: 20vw;
  position: absolute;
  z-index: 1;
  /* position: bottom; */
  /* position: absolute;*/
  /*"il faudrait mettre translate pour que ca focntionne" a dit le prof */
}

/* .background { */

/* background-color: black; */

/* background: linear-gradient(#0eb144, #000000 15%);
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin-top: -1vh;
        height: 130vh;
    } */

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  grid-template-areas: "petit-container-gauche petit-container-droite";
  background-color: rgb(24, 24, 24);
  border-style: solid;
  border-radius: 25px;
  /*1rem*/
  border-color: rgb(87, 86, 86);
  border-width: 0.1vw;
  margin-top: 3vw;
  margin-right: 10vw;
  margin-left: 10vw;
  align-items: center;
}

.petit-container-gauche {
  /* border-style: solid; */
  grid-area: petit-container-gauche;
  padding: 3vw;
  /* display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; */
  /* pk ca n'a pas marche avec ca et il a fallu qu'on mette un padding dans le background.*/
  /* margin-bottom: 5vw; */
  /*margin-top: 0vw; */
}

#photo-profil img {
  width: 20vw;
  border-radius: 100px;
}

.data {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-top: 2vw;
  margin-bottom: 3vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#data-artist-1 {
  background-color: #0eb144;
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  font-size: 2vw;
  border-radius: 15px;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

#data-artist-2 {
  background-color: #0eb144;
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  font-size: 2vw;
  border-radius: 15px;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

#style {
  background-color: rgb(131, 131, 131);
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  border-radius: 15px;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.2vw;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.petit-container-gauche #bouton-play {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /* box-shadow: 1px 2px 3px 2px rgb(255, 255, 255); */
  filter: drop-shadow(0px 0px 5px rgb(134, 134, 134));
}

.petit-container-gauche #bouton-play:hover {
  filter: grayscale(1);
}

.petit-container-gauche img {
  width: 5vw;
}

.petit-container-droite {
  /* border-style: solid;
        border-left-color: white; */
  border-width: 0.01rem;
  padding: 2vw;
  grid-area: petit-container-droite;
  /* text-align: center; */
  /* align-content: center; */
}

.petit-container-droite h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 4vw;
  /*1.2vw*/
  /*1rem*/
  /*15px*/
  margin-top: 1vw;
}

.petit-container-droite p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2vw;
  /*1.2vw*/
  /*1rem*/
  /*15px*/
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.container-plateform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5vw;
  padding-left: 15vw;
  padding-right: 15vw;
}

.container-plateform img {
  width: 3vw;
}

.container-plateform h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 480px) {
  .background {
    height: 100vh;
  }
  .container {
    /* grid-template-rows: 1fr 2fr; */
    display: block;
    /* grid-template-columns: 1fr; */
    /* grid-template-areas: "petit-container-droite petit-container-gauche"; */
    /*1rem*/
    /* margin-right: 15vw;
            margin-left: 15vw; */
    /* align-items: center; */
  }
  .petit-container-gauche {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #artiste-presentation {
    grid-area: artiste-presentation;
  }
  #photo-profil img {
    grid-area: img-photo-profil;
  }
  .data {
    grid-area: data;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-top: 2vw;
            margin-bottom: 2vw; */
    /* align-content: unset; */
  }
  .petit-container-gauche #bouton-play {
    grid-area: bouton-play;
  }
  .petit-container-droite {
    text-align: center;
    margin: 5vw;
  }
  .petit-container-droite p {
    font-size: 3vw;
  }
  .petit-container-droite h2 {
    font-size: 5vw;
  }
}
